<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon.png">
    <link rel="icon" type="image/png" href="img/favicon.png">
    <title>Editar peaje</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="css/nucleo-icons.css" rel="stylesheet" />
    <link href="css/nucleo-svg.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="css/nucleo-svg.css" rel="stylesheet" />
    <link id="pagestyle" href="css/argon-dashboard.css?v=2.0.4" rel="stylesheet" />
    <style>
        .Btn-shadow {
            background-color: #007bff;
            color: black;
            padding: 5px 10px;
            border-radius: 5px;
        }

        .Btn-delete8 {
            background-color: #f44336;
            color: black;
            padding: 5px 10px;
            border-radius: 5px;
        }

        .Btn-update {
            background-color: #28a745;
            color: white;
            padding: 5px 10px;
            border-radius: 5px;
        }

        .input-box {
            position: relative;
            margin-bottom: 15px;
        }

        .input-box-correcto input {
            border: 2px solid green;
        }

        .input-box-incorrecto input {
            border: 2px solid red;
        }

        .formulario__input-error {
            display: none;
            color: red;
            font-size: 14px;
        }

        .formulario__input-error-activo {
            display: block;
        }

        .titulo-registrar {
            background-color: lightblue;
            text-align: left;
            border-radius: 10px;
            padding: 10px;
        }

        .formulario-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .btn-editar2 {
            background-color: black;
            color: white;
            border-radius: 10px;
            padding: 3px 3px;
        }

        .Btn-delete8 {
            text-decoration: none;
            text-align: center;
            margin-left: 15px;
        }

        .input-box input {
            border-radius: 5px;
            /* Otros estilos de tu preferencia */
        }
    </style>
</head>

<body>
    <main class="main-content position-relative border-radius-lg ">
        <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
            data-scroll="false">
            <div class="container-fluid py-1 px-3">
                <nav aria-label="breadcrumb">
                    <h6 class="font-weight-bolder text-white mb-0">Peajes</h6>
                </nav>
            </div>
        </nav>
        <div class="container-fluid py-4">
            <div class="row">
                <div class="col-12">
                    <div class="card mb-4">
                        <div class="card-header pb-0">
                            <h6 class="titulo-registrar">Editar peajes</h6>
                        </div>
                        <div class="card-body px-0 pt-0 pb-2 formulario-container">
                            <form class="form-admin" action="#" id="formulario">
                                <div class="input-box" id="grupo__placa">
                                    <label>Placa</label><br>
                                    <input type="text" name="placa" id="placa">
                                    <div class="formulario__input-error">Placa no válida</div>
                                </div>
                                <div class="input-box" id="grupo__nombre">
                                    <label>Nombre peaje</label><br>
                                    <select id="nombrePeaje">
                                        <!-- Opciones se llenarán dinámicamente -->
                                    </select>
                                </div>
                                <div class="input-box" id="grupo__categoria">
                                    <label>Categoría de tarifa</label><br>
                                    <select id="idCategoriaTarifa">
                                        <option value="I">I</option>
                                        <option value="II">II</option>
                                        <option value="III">III</option>
                                        <option value="IV">IV</option>
                                        <option value="V">V</option>
                                    </select>
                                </div>
                                <div class="input-box" id="grupo__valor">
                                    <label>Valor</label><br>
                                    <input type="text" name="valor" id="valor" readonly>
                                </div>
                                <div class="input-box" id="grupo__fecha">
                                    <label>Fecha dd/mm/aaaa</label><br>
                                    <input type="date" name="fecha" id="fecha">
                                    <div class="formulario__input-error">Fecha no válida</div>
                                </div>
                                <div class="input-box" id="grupo__Observacion">
                                    <label>Observaciones</label><br>
                                    <input type="text" name="Observacion" id="Observacion">
                                    <div class="formulario__input-error">Observacion no válida</div>
                                </div>
                                <button class="btn-editar2" id="btn-editar">Editar</button>
                                <a type="button" href="/" class="Btn-delete8"
                                    style="text-decoration:none;text-align:center;margin-left:15px;">Cerrar</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        let peajesData = [];

        document.addEventListener('DOMContentLoaded', function () {
            axios.get('https://www.datos.gov.co/resource/7gj8-j6i3.json')
                .then(function (response) {
                    peajesData = response.data;
                    let selectPeajes = document.getElementById('nombrePeaje');

                    if (selectPeajes) {
                        let peajesUnicos = new Set();

                        peajesData.forEach(function (peaje) {
                            if (peaje.peaje) {
                                peajesUnicos.add(peaje.peaje);
                            }
                        });

                        peajesUnicos.forEach(function (peaje) {
                            var option = document.createElement('option');
                            option.value = peaje;
                            option.textContent = peaje;
                            selectPeajes.appendChild(option);
                        });
                    } else {
                        console.error('Elemento selectPeajes no encontrado');
                    }
                })
                .catch(function (error) {
                    console.error('Error al obtener la lista de peajes:', error);
                });
        });

        // Función para mostrar los detalles del servicio
        async function mostrarDetalleServicio(id) {
            try {
                const apiUrl = 'http://localhost:5013/api/Peaje';
                const response = await axios.get(`${apiUrl}/${id}`);
                const servicio = response.data;

                const placa = document.getElementById('placa');
                const nombrePeaje = document.getElementById('nombrePeaje');
                const categoriaTarifa = document.getElementById('idCategoriaTarifa');
                const valor = document.getElementById('valor');
                const fecha = document.getElementById('fecha');
                const observacion = document.getElementById('Observacion');

                if (placa) placa.value = servicio.placa;
                if (nombrePeaje) nombrePeaje.value = servicio.nombrePeaje;
                if (categoriaTarifa) categoriaTarifa.value = servicio.categoriaTarifaId;
                if (valor) valor.value = servicio.valor;
                if (fecha) fecha.value = servicio.fechaRegistro;
                if (observacion) observacion.value = servicio.observacion;

            } catch (error) {
                console.error('Error al obtener los detalles del servicio:', error);
            }
        }

        // Expresiones regulares para validaciones (ajusta según tus necesidades)
        const expresiones = {
            placa: /^[a-zA-Z0-9]{1,10}$/, // Ejemplo: cualquier combinación de letras y números, hasta 10 caracteres
            fecha: /^\d{4}-\d{2}-\d{2}$/, // Formato de fecha: yyyy-mm-dd
            observacion: /^.{0,100}$/ // Hasta 100 caracteres
        };

        // Función para validar campos
        function validarCampo(expresion, input, grupo) {
            if (expresion.test(input.value)) {
                document.getElementById(`grupo__${grupo}`).classList.add('input-box-correcto');
                document.getElementById(`grupo__${grupo}`).classList.remove('input-box-incorrecto');
                document.querySelector(`#grupo__${grupo} .formulario__input-error`).classList.remove('formulario__input-error-activo');
                return true;
            } else {
                document.getElementById(`grupo__${grupo}`).classList.add('input-box-incorrecto');
                document.getElementById(`grupo__${grupo}`).classList.remove('input-box-correcto');
                document.querySelector(`#grupo__${grupo} .formulario__input-error`).classList.add('formulario__input-error-activo');
                return false;
            }
        }

        document.addEventListener('DOMContentLoaded', async function () {
            const urlParams = new URLSearchParams(window.location.search);
            const id = urlParams.get('id');

            await mostrarDetalleServicio(id);

            document.getElementById('btn-editar').addEventListener('click', async function (event) {
                event.preventDefault();

                const apiUrl = 'http://localhost:5013/api/Peaje';
                const idDelServicio = id;

                // Validar que todos los campos del formulario sean válidos
                const campos = {
                    placa: validarCampo(expresiones.placa, document.getElementById('placa'), 'placa'),
                    fecha: validarCampo(expresiones.fecha, document.getElementById('fecha'), 'fecha'),
                    observacion: validarCampo(expresiones.observacion, document.getElementById('Observacion'), 'Observacion')
                    // Agregar más campos si es necesario
                };

                if (Object.values(campos).some(value => !value)) {
                    Swal.fire({
                        title: 'Error',
                        text: 'Por favor, asegúrate de que todos los campos estén correctos.',
                        icon: 'error',
                        confirmButtonText: 'OK',
                        backdrop: false
                    });
                    return;
                }

                // Obtener los valores de los campos del formulario
                const servicioActualizado = {
                    id: idDelServicio,
                    placa: document.getElementById('placa').value,
                    nombrePeaje: document.getElementById('nombrePeaje').value,
                    categoriaTarifaId: document.getElementById('idCategoriaTarifa').value,
                    valor: document.getElementById('valor').value,
                    fechaRegistro: document.getElementById('fecha').value,
                    observacion: document.getElementById('Observacion').value
                };

                // Enviar la solicitud PUT al servidor para actualizar el servicio
                try {
                    const response = await axios.put(`${apiUrl}/${idDelServicio}`, servicioActualizado);
                    if (response.data.success) {
                        
                        Swal.fire({
                            title: 'Error',
                            text: 'No se pudo actualizar el servicio correctamente',
                            icon: 'error',
                            confirmButtonText: 'OK',
                            backdrop: false
                        });
                    } else {
                      Swal.fire({
                            title: 'Servicio actualizado correctamente',
                            icon: 'success',
                            confirmButtonText: 'OK',
                            backdrop: false
                        }).then(() => {
                            window.location.href = '/';
                        });
                    }
                } catch (error) {
                    console.error('Error al actualizar el Servicio:', error);

                    if (error.response) {
                        console.error('Respuesta del servidor:', error.response.data);
                        console.error('Código de estado HTTP:', error.response.status);

                        // Mostrar mensajes de error específicos
                        if (error.response.data.errors && error.response.data.errors.peaje) {
                            Swal.fire({
                                title: 'Error de validación',
                                text: `Error en el campo 'peaje': ${error.response.data.errors.peaje[0]}`,
                                icon: 'error',
                                confirmButtonText: 'OK',
                                backdrop: false
                            });
                        } else if (error.response.data.errors && error.response.data.errors['$.fechaRegistro']) {
                            Swal.fire({
                                title: 'Error de validación',
                                text: `Error en el campo 'fecha de registro': ${error.response.data.errors['$.fechaRegistro'][0]}`,
                                icon: 'error',
                                confirmButtonText: 'OK',
                                backdrop: false
                            });
                        } else {
                            Swal.fire({
                                title: 'Error',
                                text: 'Hubo un problema al intentar actualizar el Servicio. Por favor, intenta de nuevo más tarde.',
                                icon: 'error',
                                confirmButtonText: 'OK',
                                backdrop: false
                            });
                        }
                    } else {
                        // Manejar otros errores que no sean de respuesta del servidor
                        Swal.fire({
                            title: 'Error',
                            text: 'Hubo un problema al intentar actualizar el Servicio. Por favor, intenta de nuevo más tarde.',
                            icon: 'error',
                            confirmButtonText: 'OK',
                            backdrop: false
                        });
                    }
                }
            });
        });
    </script>
</body>

</html>
