<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon.png">
    <link rel="icon" type="image/png" href="img/favicon.png">
    <title>Consumiendo Peajes</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="css/nucleo-icons.css" rel="stylesheet" />
    <link href="css/nucleo-svg.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="css/nucleo-svg.css" rel="stylesheet" />
    <link id="pagestyle" href="css/argon-dashboard.css?v=2.0.4" rel="stylesheet" />
    <style>
        .Btn-shadow {
            background-color: #007bff;
            color: black;
            padding: 5px 10px;
            border-radius: 5px;
        }

        .Btn-delete8 {
            background-color: #f44336;
            /* Rojo */
            color: black;
            /* Texto negro */
            padding: 5px 10px;
            border-radius: 5px;
        }

        .Btn-update {
            background-color: #28a745;
            color: white;
            padding: 5px 10px;
            border-radius: 5px;
        }
    </style>
</head>

<body class="g-sidenav-show bg-gray-100">
    <div class="min-height-300 bg-primary position-absolute w-100"></div>
    <aside class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4"
        id="sidenav-main">
        <div class="sidenav-header">
            <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
                aria-hidden="true" id="iconSidenav"></i>
            <a class="navbar-brand m-0" href="#">
                <img src="img/logo-ct-dark.png" class="navbar-brand-img h-100" alt="main_logo">
                <span class="ms-1 font-weight-bold">Crud Peajes</span>
            </a>
        </div>
        <hr class="horizontal dark mt-0">
        <div class="collapse navbar-collapse w-auto" id="sidenav-collapse-main">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="#">
                        <div
                            class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="ni ni-tv-2 text-primary text-sm opacity-10"></i>
                        </div>
                        <span class="nav-link-text ms-1">Dashboard</span>
                    </a>
                </li>
            </ul>
        </div>
    </aside>
    <main class="main-content position-relative border-radius-lg ">
        <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
            data-scroll="false">
            <div class="container-fluid py-1 px-3">
                <nav aria-label="breadcrumb">
                    <h6 class="font-weight-bolder text-white mb-0">Peajes</h6>
                </nav>
            </div>
        </nav>
        <div class="container-fluid py-4">
            <div class="row">
                <div class="col-12">
                    <div class="card mb-4">
                        <div class="card-header pb-0">
                            <h6>Lista de peajes</h6>
                        </div>
                        <div class="card-header pb-0">
                            <a class="Btn" href="/registrar" style="margin-left: 15px; margin-bottom: 15px; float: inline-start; text-decoration: none; background-color: black; color: white; padding: 8px 16px; border-radius: 5px;">
                                  Registrar
                                  
                            </a>
                        </div>
                        <div class="card-body px-0 pt-0 pb-2">
                            <div class="table-responsive p-0">
                                <table class="table align-items-center mb-0">
                                    <thead>
                                        <tr>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                               Placa
                                            </th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                Nombre peaje
                                            </th>
                                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                                Categoria tarifa
                                            </th>
                                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                                Fecha registro
                                            </th>
                                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                                Valor
                                            </th>
                                            <th class="text-secondary opacity-7"></th>
                                        </tr>
                                    </thead>
                                    <tbody id="tabla-exportacion"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal para mostrar detalles de exportación -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Detalles del peaje</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="modalContent">
                        <!-- Aquí se imprimirán los detalles de la exportación -->
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="js/core/popper.min.js"></script>
    <script src="js/core/bootstrap.min.js"></script>
    <script src="js/plugins/perfect-scrollbar.min.js"></script>
    <script src="js/plugins/smooth-scrollbar.min.js"></script>
    <script src="js/plugins/chartjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      ///eliminar
      function eliminarServicio(idServicio) {
    // Alerta de confirmación
    Swal.fire({
        title: '¿Estás seguro?',
        text: 'Una vez eliminado, no podrás recuperar este servicio.',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Sí, eliminarlo',
        cancelButtonText: 'Cancelar',
        backdrop: false
    }).then((result) => {
        if (result.isConfirmed) {
            // Si el usuario confirma la eliminación, se realiza la solicitud DELETE a la API
            axios.delete(`http://localhost:5013/api/Peaje/${idServicio}`)
                .then(response => {
                    // Si la eliminación es exitosa, se muestra una alerta de éxito
                    Swal.fire({
                        icon: "success",
                        title: "Eliminado correctamente",
                        showConfirmButton: false,
                        timer: 1500,
                        backdrop: false
                      });
                    console.log('Servicio eliminado exitosamente:', response.data);
                    setTimeout(()=> {location.reload();},1000
                    )
                    // Se recarga la página para mostrar los cambios actualizados

                })
                .catch(error => {
                    // Si ocurre un error al eliminar el servicio, se muestra una alerta de error
                    Swal.fire(
                        'Error',
                        'Hubo un error al eliminar el servicio. Por favor, inténtalo de nuevo.',
                        'error'
                    );
                    console.error('Error al eliminar el servicio:', error);
                });
        }
    });
}
      //fin eliminar
        document.addEventListener('DOMContentLoaded', function () {
    const apiUrl = 'http://localhost:5013/api/Peaje';
    const apiUrlDolar = 'https://api.exchangerate-api.com/v4/latest/USD';

    // Realizar la solicitud HTTP para obtener la tasa de cambio del dólar
    fetch(apiUrlDolar)
        .then(response => {
            if (!response.ok) {
                throw new Error('Ocurrió un error al obtener la tasa de cambio del dólar.');
            }
            return response.json();
        })
        .then(data => {
            // Obtener la tasa de cambio del dólar a pesos colombianos
            const tasaDeCambio = data.rates.COP;
            console.log('La tasa de cambio del dólar a pesos colombianos es:', tasaDeCambio);

            // Realizar la solicitud HTTP para obtener los servicios
            axios.get(apiUrl)
                .then(response => {
                    const servicios = response.data;
                    // Actualizar los datos de cada servicio con la tasa de cambio
                    servicios.forEach(servicio => {
                        servicio.tasaDeCambio = tasaDeCambio;
                    });
                    renderServicios(servicios);
                })
                .catch(error => {
                    console.error('Error al obtener los servicios:', error);
                });
        })
        .catch(error => {
            console.error('Error al obtener la tasa de cambio del dólar:', error);
        });

    function renderServicios(servicios) {
        const tbody = document.getElementById('tabla-exportacion');
        tbody.innerHTML = '';

        servicios.forEach(servicio => {
            const tr = document.createElement('tr');
            tr.innerHTML = `
            <td>
                <div class="d-flex px-2 py-1">
                    <div class="d-flex flex-column justify-content-center">
                        <p class="text-xs font-weight-bold mb-0">${servicio.placa}</p>
                    </div>
                </div>
            </td>
            <td>
                <p class="text-xs font-weight-bold mb-0">${servicio.nombrePeaje}</p>
            </td>
            <td class="align-middle text-center text-sm">
                <p class="text-xs font-weight-bold mb-0">${servicio.categoriaTarifaId}</p>
            </td>
            <td class="align-middle text-center">
                <p class="text-xs font-weight-bold mb-0">${servicio.fechaRegistro}</p>
            </td>
            <td class="align-middle text-center">
                <p class="text-xs font-weight-bold mb-0">${servicio.valor}</p>
            </td>
            <td>
                <a class="Btn-shadow" href="/ver?id=${servicio.id}" style="margin-left: 15px; margin-bottom: 15px; float: inline-start;">
                    <svg xmlns="http://www.w3.org/2000/svg" height="10" class="svgIcon" width="11.25" viewBox="0 0 576 512">
                        <path fill="#ffffff" d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM144 256a144 144 0 1 1 288 0 144 144 0 1 1 -288 0zm144-64c0 35.3-28.7 64-64 64c-7.1 0-13.9-1.2-20.3-3.3c-5.5-1.8-11.9 1.6-11.7 7.4c.3 6.9 1.3 13.8 3.2 20.7c13.7 51.2 66.4 81.6 117.6 67.9s81.6-66.4 67.9-117.6c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3z"/>
 </svg>
                </a>
                <a class="Btn-delete8" onclick="eliminarServicio(${servicio.id})" style="margin-left: 15px; margin-bottom: 15px; float: inline-start;">
                    <svg xmlns="http://www.w3.org/2000/svg" class="svgIcon" height="10" width="8.75" viewBox="0 0 448 512">
                        <path fill="#1e3050" d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg>
                </a>
                <a class="Btn-update" href="editar?id=${servicio.id}" style="margin-left: 15px; margin-bottom: 15px; float: inline-start;">
                    <svg xmlns="http://www.w3.org/2000/svg" height="10" width="10" viewBox="0 0 512 512">
                        <path fill="#ffffff" d="M441 58.9L453.1 71c9.4 9.4 9.4 24.6 0 33.9L424 134.1 377.9 88 407 58.9c9.4-9.4 24.6-9.4 33.9 0zM209.8 256.2L344 121.9 390.1 168 255.8 302.2c-2.9 2.9-6.5 5-10.4 6.1l-58.5 16.7 16.7-58.5c1.1-3.9 3.2-7.5 6.1-10.4zM373.1 25L175.8 222.2c-8.7 8.7-15 19.4-18.3 31.1l-28.6 100c-2.4 8.4-.1 17.4 6.1 23.6s15.2 8.5 23.6 6.1l100-28.6c11.8-3.4 22.5-9.7 31.1-18.3L487 138.9c28.1-28.1 28.1-73.7 0-101.8L474.9 25C446.8-3.1 401.2-3.1 373.1 25zM88 64C39.4 64 0 103.4 0 152V424c0 48.6 39.4 88 88 88H360c48.6 0 88-39.4 88-88V312c0-13.3-10.7-24-24-24s-24 10.7-24 24V424c0 22.1-17.9 40-40 40H88c-22.1 0-40-17.9-40-40V152c0-22.1 17.9-40 40-40H200c13.3 0 24-10.7 24-24s-10.7-24-24-24H88z"/>
 </svg>
                </a>
            </td>`;
            tbody.appendChild(tr);
        });
    }




            axios.get(apiUrl)
                .then(response => {
                    const servicios = response.data;
                    renderServicios(servicios);
                })
                .catch(error => {
                    console.error('Error al obtener los servicios:', error);
                });
        });


     

    </script>
</body>

</html>
